In [26]:
import pandas as pd
from utils import get_mongo_db

In [27]:
db = get_mongo_db()

Connecting to MongoDB at localhost:27017...

In [28]:
users = db.users.find({}, { 'login': True })
users = list(users)
len(users)

5976

In [29]:
users[0]

{'_id': 2022803, 'login': 'vhf'}

In [30]:
df = pd.DataFrame(users)
df.sample(10)

          _id        login
3284   181334  gabrielhase
907   1788789       shouxi
2955  1145141        dploi
2473  6340337      bricaud
5404  1105286        srueg
2259  8858809      artthik
5397  1695356         SQRR
1580  1476195   andyspiros
4669  1661621      othieno
2673   221665    cockroach

In [31]:
# Enjoy!